In [4]:
print ("hello world")

hello world

In [5]:
x=2*10
x=20**2
print(x)

400

In [6]:
#variables are used to stored items on the computer memomry
# pyhton intepret the codes line by line
price =10
price+=20
print(price)

30

In [7]:
#boolean numbers are true or false numbers
#integers are whole numbers, floating number are decimal numbers, also known as floats

In [8]:
patient_name= "john smith"
age="20 years"
is_new = True
print([patient_name, age, is_new])

['john smith', '20 years', True]

In [9]:
#inputs are used for common task.
#concatenating is adding two strings together suing the plus sign

name = input(" what is my name? ")
fav_color = input ( "what is your favorite color? ")
print( name+ " likes "+ fav_color)

 what is my name? Innocent
what is your favorite color? blue
Innocent likes blue

In [10]:
name= input("whats is your name?  ")
print("hi " + name)
#remember to add space after the hi before the perentences

whats is your name?  Agu
hi Agu

In [11]:
birth_year= input( "birth year: ")
age = 2023- int(birth_year)
print(age)

birth year: 35
1988

In [12]:
weight_kg =input("weight in Kg ")
weight_pounds=int(weight_kg)*2.2046
print(weight_pounds)

weight in Kg 110
242.506

In [ ]:
weight_kg =input("weight in Kg ")
weight_pounds=int(weight_kg)*2.2046
print(weight_pounds)

weight_lbs =input("weight in lbs ")
weight_kg=int(weight_lbs)/2
print(weight_kg)

weight in Kg 110
242.506
weight in lbs 242
121.0

In [ ]:
weight_kg =input("weight in Kg ")

if weight_pounds==int(weight_kg)*2.2046:
  print(weight_pounds)

elif weight_lbs == input("weight in lbs "):
  weight_kg=int(weight_lbs)/2
  print(weight_kg)

weight in Kg 110
242.506

In [ ]:
#to calculate the weight in either ponds(lBS) or kilogram(KG)
# Get user choice
choice = input("Enter 'kg' to calculate in kilograms or 'lbs' to calculate in pounds: ")

if choice.lower() == 'kg':
    # Calculate weight in pounds from kilograms
    weight_kg = input("Enter weight in kilograms: ")
    weight_pounds = float(weight_kg) * 2.2046
    print("Weight in pounds:", weight_pounds)
elif choice.lower() == 'lbs':
    # Calculate weight in kilograms from pounds
    weight_lbs = input("Enter weight in pounds: ")
    weight_kg = float(weight_lbs) / 2.2046
    print("Weight in kilograms:", weight_kg)
else:
    print("Invalid choice. Please enter 'kg' or 'lbs'.")

Enter 'kg' to calculate in kilograms or 'lbs' to calculate in pounds: 110
Invalid choice. Please enter 'kg' or 'lbs'.

In [ ]:
#to calculate height of a person in either cm or feet

choice =input("enter 'cm' to calculate in centimeter or 'ft' to calculate in feet: ")
if choice=="cm":
  #calcualte the height of the customer in feet
  height_kg= input("enter height in centimeter: ")
  height_feet= float(height_kg)/ 30.48
  print("height in feet: ", height_feet)

  #calculate the height of the customer in centimeter
  height_feet=input("enter height in feet: ")
  height_cm = float(height_kg)*30.48
  print("height in cm: ", height_cm)

In [3]:
Name_title = " my name is Agu of Africa"
print(Name_title)
print(Name_title.upper())
print(Name_title.lower())

 my name is Agu of Africa
 MY NAME IS AGU OF AFRICA
 my name is agu of africa

In [ ]:
today_is_hot= False
today_is_cold=True

if today_is_hot:
  print("it is a hot day, drink plenty water")
  print("summer is close")

elif today_is_cold:
  print("its a cold day, go wear cloth")
  print("winter is close")

else:
  print("today is a great day")

print("have a lovely day")

its a cold day, go wear cloth
winter is close
have a lovely day

In [ ]:
house_price= 1000000
buyer_goodcredit= False

if buyer_goodcredit:
  downpayment= 0.1 * house_price

else:
  downpayment = 0.2* house_price

print(f"down payment: ${downpayment}")

down payment: $200000.0

In [ ]:
has_high_income= True
Has_good_credit= True

if has_high_income and Has_good_credit:
  print ("Eligible for a loan")

else :
  print("fuck off")

Eligible for a loan

In [ ]:
has_high_income= False
Has_good_credit= True

if has_high_income and Has_good_credit:
  print ("Eligible for a loan")

In [ ]:
has_high_income= True
Has_good_credit= False

if has_high_income and Has_good_credit:
  print ("Eligible for a loan")

else :
  print("fuck off")

fuck off

In [ ]:

has_high_income= False
Has_good_credit= True

if has_high_income or Has_good_credit:
  print("Eligible for loan")

Eligible for loan

In [ ]:
has_high_income= True
Has_good_credit= True
has_criminal_record = False

if Has_good_credit and has_high_income and not has_criminal_record :
  print("Eligible for loan")

else:
  print("fuck off my nigga")

Eligible for loan

In [ ]:
temperature= 30
if temperature>30:
  print ("its a hot day")
else:
  print("its a great wether, go out and make love")

its a great wether, go out and make love

In [ ]:
temperature= 67
if temperature>30:
  print ("its a hot day")
else:
  print("its a great wether, go out and make love")

its a hot day

In [ ]:
name = "oparainnocent omekannaya 1 of the whole of mbaise community"

if len(name) < 49:
  print("Agu is great, but needs more title")
else:
  print("Agu calm Down")

Agu calm Down

In [ ]:
name = "oparainnocent  omekannaya oparainnocent omekannaya  "
#using the if, elif and else statments
if len(name) < 10:
  print("Agu is great, but needs more title")
elif len(name)< 49:
  print("names must be a maximum of 49 chatracter")
else:
  print("Agu calm Down")

Agu calm Down

In [ ]:
#conversion using python
weight = int(input(" weight: "))
unit=input("(l)bs or (k) g: ")

if unit.upper() == "l":
  converted= (weight) * 0.45
  print(f"you are {coberted} kilos")

else:
  converted = weight// 0.45
  print(f"your {converted} pounds")

 weight: 400
(l)bs or (k) g: k
your 888.0 pounds

In [ ]:
#converion using python
height = int(input("height: "))
Unit = input("ft or cm: ")

if unit.upper == "cm":
  converted = (height)* 0.0328
  print(f"you are {converted} ft")

else:
  converted = (height)// 0.328
  print(f"you are {converted} cm")

height: 180
ft or cm: cm
you are 548.0 cm

In [ ]:
#how to your a "while" loop
i = 1
while i<=5:
  print(i)
  i = i+1
print("done")

1
2
3
4
5
done

In [ ]:
#building a guessing game using "while" loop
sceret_number = 8
guess_count= 0
guess_limit =3

while guess_count < guess_limit:
  guess=int(input("Guess: "))
  guess_count+=1
  if guess == sceret_number:
    print("you won")
    break
else:
  print("sorry you failed, nice next time")

Guess: 6
Guess: 7
Guess: 6
sorry you failed, nice next time

In [ ]:
weight = int(input("Weight: "))
unit = input("(L)bs or (K)g: ")

if unit.upper() == "L":
    converted = weight * 0.45
    print(f"You are {converted} kilos")

elif unit.upper() == "K":
    converted = weight // 0.45
    print(f"You are {converted} pounds")

else:
    print("Invalid unit. Please choose either 'L' or 'K'.")

Weight: 110
(L)bs or (K)g: k
You are 244.0 pounds

In [ ]:
#how to your a "while" loop
i = 1
while i<=5:
  print("*" * i)
  i = i+1
print("done")

*
**
***
****
*****
done

In [ ]:
command = ""
while True:
  command = input(">")
if command.lower() == "start":
  print("car started...")
elif command.lower()=="stop":
  print("car stopped.")
elif command =="help":
  print ("""
  start - to start the car
  stop - to stop the car
  quit- to quit
  """)
elif command== "quit":
  break


  print("sorry, I dont undertsnad you")

>START

In [ ]:
#for loops in python
for item in "python":
  print(item)

p
y
t
h
o
n

In [ ]:
for item in ["agu", "opara", "emeka"]:
  print(item)

agu
opara
emeka

In [ ]:
for item in ["opara emeka agu"]:
  # in python a square bracket is done with a list
    print(item)

opara emeka agu

In [ ]:
for item in range(5):
  print(item)

0
1
2
3
4

In [ ]:
for item in range(5, 10):
 print(item)

5
6
7
8
9

In [ ]:
#range function can b used to step
for item in range(5,10,2):
  print(item)

5
7
9

In [ ]:
#using for loop to calculate price
#a string is a sequence of character
# list is defined using a square bracket
# the range function is used to create a range of numbers
prices = [10,20,30]
total=0
for price in prices:
  total+=price
  # total = total + price is the same as total +=price
print (f"total: {total}")

total: 60

In [ ]:
#nested loop means adding 1 loop into another
for x in range (4):
  print(x)

0
1
2
3

In [ ]:
for x in range (4):
  for y in range (3):
    print(f'{x},{y}')

0,0
0,1
0,2
1,0
1,1
1,2
2,0
2,1
2,2
3,0
3,1
3,2

In [ ]:
# i did this myself, i am proud
for i in [5,2,5,2,2]:
  i= ("*"*i)
  print(i)

*****
**
*****
**
**

In [ ]:

numbers= [4,3,5,46,2532,4,6,4,2,10000,2]
max = numbers[0]
for number in numbers :
  if number > max:
    max = number
print(max)

10000

In [ ]:
#2d list in pyhton
#2d is a list where each item in the list has a list of its own

In [ ]:
x= 10
x+=3
print(x)

13

In [ ]:
secret_number = 9
guess_count

In [ ]:
#how to your a "while" loop
i = 1
while i<=5:
  print(i)
  i = i+1
print("done")

1
2
3
4
5
done

In [ ]:
#for loops is used to interate over an item on a character
for item in "omekannaya":
  print(item)

o
m
e
k
a
n
n
a
y
a

In [ ]:
for item in ["agu","emeka", "opara"]:
  print(item)

agu
emeka
opara

In [ ]:
for item in range(5, 10):
  print(item)

5
6
7
8
9

In [ ]:
for item in range(5, 10,2):
  print(item)

5
7
9

In [ ]:
prices= [10,20,30]
total=0
for prices in prices:
  total+= prices
print(f"total amount is {total}")

total amount is 60

In [ ]:
#nested loop is adding 1 loop into another loop
for x in range(3):
  for y in range(2):
    print(f"{x},{y}")

0,0
0,1
1,0
1,1
2,0
2,1

In [ ]:
numbers=[5,2,5,2,2]
for x_count in numbers:
  print("x"* x_count)

xxxxx
xx
xxxxx
xx
xx

In [ ]:
numbers=[5,2,5,2,2]
for x_count in numbers:
  output=""
  for count in range(x_count):
    output+="x"
  print(output)

xxxxx
xx
xxxxx
xx
xx

In [ ]:
numbers=[2,2,2,2,2,8,8]
for x_count in numbers:
  output=""
  for count in range(x_count):
    output+="x"
  print(output)

xx
xx
xx
xx
xx
xxxxxxxx
xxxxxxxx

In [ ]:
names= ["emeka","agu","opara", "innocent"]
print(names)
list=[1,2,3,4,5]
print(list)

['emeka', 'agu', 'opara', 'innocent']
[1, 2, 3, 4, 5]

In [ ]:
names= ["emeka","agu","opara", "innocent"]
print(names[1:])

['agu', 'opara', 'innocent']

In [ ]:
matrix = [
          [1,2,3],
          [4,5,6],
          [9,8,7]
]
print(matrix[1])

[4, 5, 6]

In [ ]:
numbers= [5,4,5,6,7,8]
numbers.append(50)
print(numbers)

[5, 4, 5, 6, 7, 8, 50]

In [ ]:
numbers= [5,4,5,6,7,8]
numbers.insert(0,50)
print(numbers)

[50, 5, 4, 5, 6, 7, 8]

In [ ]:
numbers= [5,4,5,6,7,8]
numbers.insert(6,50)
print(numbers)

[5, 4, 5, 6, 7, 8, 50]

In [ ]:
numbers= [5,4,5,6,7,8]
numbers.remove(8)
print(numbers)

[5, 4, 5, 6, 7]

In [ ]:
numbers= [5,4,5,6,7,8]
numbers.clear()
print(numbers)

[]

In [ ]:
numbers= [5,4,5,6,7,8]
numbers.pop()
print(numbers)

[5, 4, 5, 6, 7]

In [ ]:
numbers= [5,4,5,6,7,8]
print(numbers.index(7))

4

In [ ]:
# to check the existence of a number in a list
numbers= [5,4,5,6,7,8]
print(4 in numbers)

True

In [ ]:
# to check the existence of a number in a list
numbers= [5,4,5,6,7,8]
print(70 in numbers)

False

In [ ]:
# to count the number of digit in a list you use the count operator
number = [3,4,5,6,32,54,6,7,2,4,65,2,4,3,2,3,2,43]
print(number.count(2))

4

In [ ]:
# to sort the number of items on a list, we use the "sort" operator
number = [3,4,5,6,32,54,6,7,2,4,65,2,4,3,2,3,2,43]
number.sort()
print(number)

[2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 6, 6, 7, 32, 43, 54, 65]

In [ ]:
# to sort the number of items on a list, we use the "sort" operator.
# you can also sort in decending other, by reversing the method
number = [3,4,5,6,32,54,6,7,2,4,65,2,4,3,2,3,2,43]
number.sort()
print(number)

In [ ]:
number = [3,4,5,6,32,54,6,7,2,4,65,2,4,3,2,3,2,43]
number2= number.copy()
number.append(20)
print(number2)

[3, 4, 5, 6, 32, 54, 6, 7, 2, 4, 65, 2, 4, 3, 2, 3, 2, 43]

In [ ]:
# i discovered this my self
# to append a number on a list using the += sign
numbers= [5,4,5,6,7,8]
numbers += [12]
print (numbers)

[5, 4, 5, 6, 7, 8, 12]

In [ ]:
# to remove the dublicate in a list
number = [3,4,5,6,32,54,6,7,2,4,65,2,4,3,2,3,2,43]
uniques=[]
for number in number:
  if number not in uniques:
    uniques.append(number)
print(uniques)

[3, 4, 5, 6, 32, 54, 7, 2, 65, 43]

In [ ]:
number= [3, 4, 5, 6, 32, 54, 7, 2, 65, 43]
number.sort()
print(number)

[2, 3, 4, 5, 6, 7, 32, 43, 54, 65]

In [ ]:
# to remove the dublicate in a list and
# sort the list of numbers in descending order
number = [3,4,5,6,32,54,6,7,2,4,65,2,4,3,2,3,2,43]
uniques=[]
for number in number:
  if number not in uniques:
    uniques.append(number)
uniques.sort()
uniques.reverse()
print(uniques)

[65, 54, 43, 32, 7, 6, 5, 4, 3, 2]

In [ ]:
#tupples are similar to list but they cannt be modified or changed
numbers = (1,2,3,4,5)

#the above is a tupples.
# only use topples when you dont want your list to be modified
print(numbers)

(1, 2, 3, 4, 5)

In [ ]:
#unpacking
coordinates= (1,2,3,4,5)
x= coordinates[0]
print(x)

1

In [ ]:
#unpacking
coordinates= (1,2,3,4,5)
x= coordinates[0]
y=coordinates[1]
z= coordinates[2]

print(x)
print(y)
print(z)

1
2
3

In [ ]:
#unpacking
coordinates= (1,2,3,4,5)
x= coordinates[0]
y=coordinates[1]
z= coordinates[2]

# the above is same as

x,y,z= coordinates

In [ ]:
#unpacking
numbers= (1,2,3,6,9)

x,y,z,a,r = numbers
#for the unpacking to work, all the items on the list must be assigned to a variable
print(y)

2

In [ ]:
#disctionary, used for key value pair
#example
customer={
    "name": "opara innocent",
    "age": 35,
    "address": "34e talbot village"
}
#note, each key should be unique, no repeatation allowed
print(customer["name"])

opara innocent

In [17]:
customer={
    "name": "opara innocent",
    "age": 35,

}

print(customer.get("birthday", "26th August, 1988"))
# to add to a dist list we use the get function

26th August, 1988

In [18]:
# to change numbers to words
phone = input("phone: ")
digits_mapping={
    "1": "one",
    "2": "two",
    "3": "three",
    "4": "four"
}
output =""
for ch in phone:
  output += digits_mapping.get(ch, "!")
print(output)

phone: 7
!

In [ ]:
# a function is a container that contains a few lines of codes
#that performs a specific task
def greet_user():
  print("hello Agu")
  print("how are you today, Mr Agu")

print("start")
greet_user()
print("finish")

start
hello Agu
how are you today, Mr Agu
finish

In [ ]:
def greet_user():
  print("hello Agu")
  print("how are you today, Mr Agu")

number = [3,4,5,6,32,54,6,7,2,4,65,2,4,3,2,3,2,43]
number2= number.copy()
number.append(20)
print(number)
greet_user()

[3, 4, 5, 6, 32, 54, 6, 7, 2, 4, 65, 2, 4, 3, 2, 3, 2, 43, 20]
hello Agu
how are you today, Mr Agu

In [ ]:
try:
  age=int(input("age: "))
  print(age)
except ValueError:
  print("you are doing well, try get sense")

age: agu
you are doing well, try get sense

In [ ]:
try:
  age=int(input("age: "))
  print(age)
except ValueError:
  print("you are doing well, try get sense")

age: 35
35

In [ ]:
try:
  age=int(input("age: "))
  income=3000000
  risk= income/age
  print(risk)
except ValueError:
  print("you are doing well, try get sense")

age: 50
60000.0

In [ ]:
try:
  age=int(input("age: "))
  income=3000000
  risk= income/age
  print(risk)
except ValueError:
  print("you are doing well, try get sense")

age: hear
you are doing well, try get sense

In [ ]:
try:
  age=int(input("age: "))
  income=3000000
  risk= income/age
  print(risk)
except ValueError:
  print("you are doing well, try get sense")
except ZeroDivisionError:
  print("Your Age cannot be zero, ole")

age: 10
300000.0

In [ ]:
#classess in pythin are important but they are not specific to python
#classes are used to define new types
#use comments to explain why amd how not what
# an object is an instance of a class
class Point:
  def move(self):
    print("move")

  def draw(self):
    print("draw")

point1 = Point()
point1.x=30
point1.y=40
print(point1.x)
point1.draw()

point2 = Point()
point2.x=1
print(point2.x)

30
draw
1

In [ ]:
number=[1,2,3,4]
number+=[5]
print(number)

[1, 2, 3, 4, 5]

In [ ]:
#a constructor is a function that gets created when a function is created

In [ ]:
#inheritance is a mechanism for reusing codes
class Mammal:
  def walk(self):
    print("walk")
class Dog(Mammal):
  def bark(self):
    print("bark")

class Cat(Mammal):
  pass

dog1= Dog()
dog1.walk()
dog1.bark()

walk
bark

In [ ]:
# a module is a file with python codes